@import url(./layout/mytask.css);
@import url(./base/dialog.css);
@import url(./base/icon.css);
@import url(./base/popup.css);
@import url(./base/input.css);
@import url(./layout/header.css);
@import url(./layout/sidebar.css);
@import url(./layout/content.css);
@import url(./base/scrollbar.css);
@import url(./base/button.css);
@import url(./layout/login.css);
@import url(./base/table.css);

@font-face {
  font-family: GoogleSans;
  src: url(/src/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url(/src/assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}

body {
  margin: 0;
  font-size: 14px;
  position: relative;
}
* {
  font-family: Arial;
}

.main {
  width: calc(100% - 250px);
  height: 100vh;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/src/assets/img/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard {
  background-image: url(/src/assets/img/lightbulb-3104355.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.my-task {
  background-color: white;
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 10px;
  background-color: #eef8ec;
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #96d58a;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #adf89e;
}
